.btn {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.btn--link{
    background: none;
}

.btn-secondry {
    background: #888;
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.btn-third {
    background:rgb(179, 2, 2);
    margin-right: 5px;
}

.btn-chart {
    border: 2px solid rgb(8, 64, 168);
    background: $off-white;
    color: rgb(8, 64, 168);
    margin-right: 2px;
    transition: background 0.15s;
}

.btn-chart:hover {
    background: rgb(8, 64, 168);
    color: white;
}

.btn-chart-active {
    background: rgb(8, 64, 168);
    color: white;
}

.btn-chart-selector {
    padding: $s-size $l-size+0.2;
}
