.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
    @media (max-height: 730px) {
        margin-bottom: 2.5*$l-size;
    }
}

.form__error {
    margin: 0 0 $l-size 0;
    font-style: italic;
    color: red;
}