.list-header {
    background: $off-white;
    border: 1px solid darken($off-white , 7%);
    color: $gray;
    display: flex;
    justify-content: space-between;
    padding:  $s-size $m-size;
}

.list-body {
    margin-bottom: 3*$l-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken( $off-white, 7%);
    border-top: none;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item--message {
    align-items: center;
    color: $gray;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }

}

.list-item__title {
    margin: 0;
    word-break: break-all;
}
 

.list-item__subtitle {
    color: $gray;
    font-size: $font-size-small;
}

.list-item__type {
    border-radius: 10px;
    background: rgba(245, 1, 1 , .6);
    color: $off-white;
    position: absolute;
    padding: $s-size/6 $s-size/2;
    left: $l-size*3;
    top: $m-size;
    text-align: center;
    p{
        font-size: $s-size;
        margin: 0;
    }
}

.list-item__data {
    margin:  $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}